body {
  font-family: Poppins;
  font-size: 1.4rem;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App main {
  max-width: 1024px;
  min-width: 1024px;
}

.App header {
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2A0944;
}
