.container {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.breedContainer {
    padding: 2rem;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    box-shadow: 3px 2px 19px -13px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px 2px 19px -13px rgb(0 0 0 / 75%);
    -moz-box-shadow: 3px 2px 19px -13px rgb(0 0 0 / 75%);
}

.breedContainer img {
    border-radius: 80%;
}

.info h3 {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 3.2rem;
    margin: 0;
    width: 100%;
    color: #3B185F;
}
.contentTemp{
    width: 100%;
    margin: 0;
    padding: 0;
}

.contentTemp li {
    display: inline-block;
}

.info {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caracteristics {
    margin: 0;
    padding: 0;
}

.caracteristics li {
    display: block;
    margin: 2rem 0;
    color: #948e8e;
}

.caracteristics li span {
    font-weight: 500;
    color: black;
}

