.link {
	text-decoration: none;
}

.cardContainer {
	padding: 2rem;
	/* border: 1px solid #d0d0d0; */
	border-radius: 20px;
	width: 200px;
	height: 87%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	background: linear-gradient(
		179deg,
		rgba(161, 37, 104, 0.7) -20%,
		#fec160bd 100%
	);
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.cardContainer:hover {
	border: 1px solid #a12568;
}

.cardContainer img {
	border-radius: 80%;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.cardContainer h3 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	color: #3b185f;
	line-height: 1.5;
}

.cardContainer h3 span {
	color: #a12568;
}

.cardContainer h4 {
	color: #ffffff;
	margin: 2rem 0;
	font-weight: 500;
}

.cardContainer h4 span {
	font-weight: 500;
	color: black;
	font-weight: 500;
	margin-right: 0.5rem;
}

.contentTemp {
	width: 100%;
	margin: 0;
	padding: 0;
}

.contentTemp li {
	display: inline-block;
}
