.topCointainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3rem 0;
}

.buttonsContainer {
	display: flex;
	flex-direction: row;
}

.filtersContainer {
	align-items: center;
	display: flex;
}

.spanTitle {
	font-weight: 700;
}

.reload {
	border-radius: 14px;
	background: 0;
	justify-items: center;
	border: 1px solid #a7a5a5;
	padding: 3px;
	height: 27px;
	width: 27px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.reload:hover {
	border: 1px solid #a12568;
}

.reload img {
	width: 19px;
}

.spinner {
	width: 100%;
	height: 50rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
