.container {
    display: flex;
    justify-content: flex-end;
}

.button-page {
  background: 0;
  border: 1px solid #d0d0d0 ;
  text-align: center;
  width: 25px;
  height: 25px;
  margin: 3px;
  padding: 5px;
  font-size: 12px;
  color: #A12568;
}

.button-page:hover {
    color: #A12568;
    border: 1px solid #A12568;
} 

.selected {
    color: #A12568;
    border: 1px solid #A12568;
}
 

